.auth-content {
    background-color: #f7f1e3;
    color: #2C3A47;
    font-size: 1.6rem;
    padding: 22.5vh 2.5rem 2.5rem 3.5rem;
}

.auth-content__title {
    font-size: 3rem;
    font-family: 'David Libre', serif;
}


/* AUTH NAVIGATION */

.auth-navigation {
    margin-top: 4rem;
    font-family: 'David Libre', serif;
}

.auth-navigation a {
    font-size: 1.4rem;
    color: #2C3A47 !important;
    text-decoration: none !important;
    margin: 0.75rem;
    position: relative;
    transition: 0.15s ease-in-out;
}

.auth-navigation a:first-child {
    margin-left: 0;
}

.auth-navigation a:hover {
    color: #706fd3 !important;
}

.auth-navigation a:not(:last-child):before {
    content: '';
    position: absolute;
    right: -0.75rem;
    top: 0.125rem;
    width: 1px;
    height: 100%;
    background-color: #2C3A47;
    opacity: 0.5;
}


/* AUTH FORM */

.auth-form {
    margin-top: 2rem;
    max-width: 350px;
    font-family: 'Quicksand', sans-serif;
}

.auth-form input {
    padding: 1.7rem 0.7rem;
    font-size: 1.4rem;
}

.auth-form .form-buttons button {
    font-size: 1.4rem;
    padding: 0.5rem 1.25rem;
    width: 33%;
}

.auth-form-reset .form-buttons button {
    width: auto;
}

.auth-form .form-buttons {
    margin-top: 1.5rem;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
}

.auth-form .form-buttons .back-to-btn {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #706fd3;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.auth-form .form-buttons .back-to-btn img,
.auth-form .form-buttons .back-to-btn i {
    max-width: 1.5rem;
    margin-right: 0.75rem;
}

.auth-form .register-passwords,
.auth-form .register-emails,
.auth-form .login-password {
    display: block;
}

.auth-form .register-passwords.hide-first-step,
.auth-form .login-password.hide-first-step,
.auth-form .login-email.second-step,
.auth-form .register-emails.hide-second-step {
    display: none;
}

.auth-form .form-buttons.hide-first-step {
    transform: translateX(-67%);
}