html {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #706fd3 !important;
    outline: none !important;
    border: solid 0.1rem #706fd3 !important;
}

.btn-primary:hover {
    background-color: #6968d0 !important;
}