.chat-content {
    background-color: #000000;
    background-image: linear-gradient(315deg, #b8c6db 0%, #706fd3 74%);
    color: #2C3A47;
    font-size: 1.5rem;
}

.chat-message {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.chat-message-body {
    color: #2C3A47;
    background-color: #FFFFFF;
    padding: 1rem 1.5rem;
    border-radius: 15px;
}

.no-messages-yet {
    color: #FFFFFF;
    padding: 2rem;
}


/* Chat Header */

.chat-content-header,
.chat-content-footer {
    background-color: #FFF;
    padding: 2rem;
}


/* Chat Messages Content */

.chat-content-body {
    padding: 2rem;
}


/* Chat Footer */

.chat-content-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}